<% @positioncolors = ["<span style=\"color:#337ab7\">Blue</span>", "<span style=\"color:#337ab7\">Blue</span>", "<span style=\"color:#d9534f\">Red</span>", "<span style=\"color:#d9534f\">Red</span>"] %>
<% @positionroles = ["Defence", "Offence", "Offence", "Defence"] %>
<!DOCTYPE html>
<html>
    <head>
        <title>Create new match</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container" id="content">
            <div class="col-md-4">
                <h3>Players in the next match</h3>
                <table class="table">
                    <tr>
                        <th><span style="color:#337ab7">Blue team</span></th>
                        <th colspan="2" style="text-align:center"><a class="btn btn-default" role="button" href="/this_has_not_been_implemented_yet">swap <span class="glyphicon glyphicon-resize-horizontal"></span> teams</a></th>
                        <th><span style="color:#d9534f">Red team</span></th>
                    </tr>
                    <tr>
                        <td><%= $joined_names[0] %></td>
                        <td><span style="color:#337ab7" class="glyphicon glyphicon-chevron-left"></span> Defence</td>
                        <td>Offence <span style="color:#d9534f" class="glyphicon glyphicon-chevron-right"></span></td>
                        <td><%= $joined_names[2] %></td>
                    </tr>
                    <tr>
                        <td><%= $joined_names[1] %></td>
                        <td><span style="color:#337ab7" class="glyphicon glyphicon-chevron-left"></span> Offence </td>
                        <td> Defence <span style="color:#d9534f" class="glyphicon glyphicon-chevron-right"></span></td>
                        <td><%= $joined_names[3] %></td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12">
                <h3>Players in the room</h3>
                <table class="table">
                    <tr><th>Player name</th><th>Join the next match</th></tr>
                    <% $room.reverse.each do |n| %>
                        <tr><td><%= n %></td><td>
                                <a class="btn btn-primary" role="button" href="/joinmatchposition/1/<%= n %>">Blue defence <span class="glyphicon glyphicon-remove-circle"></span></a>
                                <a class="btn btn-primary" role="button" href="/joinmatchposition/2/<%= n %>">Blue offence <span class="glyphicon glyphicon-screenshot"></span></a>
                                <a class="btn btn-danger"  role="button" href="/joinmatchposition/3/<%= n %>">Red offence  <span class="glyphicon glyphicon-screenshot"></span></a>
                                <a class="btn btn-danger"  role="button" href="/joinmatchposition/4/<%= n %>">Red defence  <span class="glyphicon glyphicon-remove-circle"></span></a>
                            </td></tr>
                        <% end %>
                </table>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
