<div class="col-md-12">

<div class="tab2-content tab2-content-classification">

<div class="col-md-12">
    <h3>Classification</h3>
<table class="table table-condensed table-striped">
    <tr>
        <th class="col-md-1 text-right">Pos</th>
        <th class="col-md-3 text-left">Player</th>
        <th class="col-md-1 text-right"># Won</th>
        <th class="col-md-2 text-right"># Matches played</th>
        <th class="col-md-2 text-right">Attack Elo</th>
        <th class="col-md-2 text-right">Defense Elo</th>
    </tr>
<% @classification[:overall].each do |c| %>
    <tr>
        <td class="text-right"><%= c[:position] %></td>
        <td class="text-left"><%= @players[c[:player_id]].name %></td>
        <td class="text-right"><span title="<%= "#{'%.2f' % c[:points]}" %>"><%= "#{'%.0f' % c[:points]}" %></span></td>
        <td class="text-right"><%= c[:num_matches] %></td>
        <td class="text-right"><%= c[:attackElo]  %> (<%= c[:attackEloCount] %>)</td>
        <td class="text-right"><%= c[:defenseElo] %> (<%= c[:defenseEloCount] %>)</td>
    </tr>
<% end %>
</table>
</div>

<div class="col-md-5">
    <h3>Top 10 attackers</h3>
    Need to play at least 5 matches as attacker to appear.
<table class="table table-condensed table-striped">
    <tr>
        <th class="col-md-1 text-right">Pos</th>
        <th class="col-md-2 text-left">Player</th>
        <th class="col-md-1 text-right">Attack Elo</th>
        <th class="col-md-1 text-right">Matches played as attacker</th>
    </tr>
    <% pos=0; @classification[:bestattackers].select{|a| a[:attackEloCount] >= 5 }.first(10).each do |c| %>
    <tr>
        <td class="text-right"><%= (pos += 1) %></td>
        <td class="text-left"><%= @players[c[:player_id]].name %></td>
        <td class="text-right"><%= c[:attackElo]  %></td>
        <td class="text-right"><%= c[:attackEloCount] %></td>
    </tr>
<% end %>
</table>
</div>

<div class="col-md-5">
    <h3>Top 10 defenders</h3>
    Need to play at least 5 matches as defender to appear.
<table class="table table-condensed table-striped">
    <tr>
        <th class="col-md-1 text-right">Pos</th>
        <th class="col-md-2 text-left">Player</th>
        <th class="col-md-1 text-right">Defense Elo</th>
        <th class="col-md-1 text-right">Matches played as defender</th>
    </tr>
<% pos=0; @classification[:bestdefenders].select{|a| a[:defenseEloCount] >= 5 }.first(10).each do |c| %>
    <tr>
        <td class="text-right"><%= (pos += 1) %></td>
        <td class="text-left"><%= @players[c[:player_id]].name %></td>
        <td class="text-right"><%= c[:defenseElo] %></td>
        <td class="text-right"><%= c[:defenseEloCount] %></td>
    </tr>
<% end %>
</table>
</div>

<div class="col-md-6">
    <h3>Statistics</h3>
    <h4><span style="color:#337ab7">Blue wins: <%= @statistics[0] %></span></h4>
    <h4><span style="color:#d9534f">Red wins:  <%= @statistics[1] %></span></h4>
</div>

</div>

<div class="tab2-content tab2-content-matches">

<div class="col-md-12">
<h4>Matches played</h4>
<table class="table table-striped table-condensed">
    <tr>
        <th>Time</th>
        <th><span style="color:#337ab7">Defense</span></th>
        <th><span style="color:#337ab7">Offence</span></th>
        <th class="text-center">Score</th>
        <th><span style="color:#d9534f">Offence</span></th>
        <th><span style="color:#d9534f">Defense</span></th>
        <th class="text-center">Duration</th>
        <th class="text-center">Replays</th>
    </tr>
<% @matches.each do |m| %>
<tr>
<td><%= m.get_time() %></td>
<td><% if m.scores[0] > m.scores[1] %><b><% end %><%= @players[m.players[0]].name %> (<%= m.elos[0].to_s + (if m.elodiffs[0] >= 0 then "+" else "" end) + m.elodiffs[0].to_s %>)<% if m.scores[0] > m.scores[1] %></b><% end %></td>
<td><% if m.scores[0] > m.scores[1] %><b><% end %><%= @players[m.players[1]].name %> (<%= m.elos[1].to_s + (if m.elodiffs[1] >= 0 then "+" else "" end) + m.elodiffs[1].to_s %>)<% if m.scores[0] > m.scores[1] %></b><% end %></td>
<td class="text-center"><%= m.scores[0].to_s %>-<%= m.scores[1].to_s %></td>
<td><% if m.scores[1] > m.scores[0] %><b><% end %><%= @players[m.players[2]].name %> (<%= m.elos[2].to_s + (if m.elodiffs[2] >= 0 then "+" else "" end) + m.elodiffs[2].to_s %>)<% if m.scores[1] > m.scores[0] %></b><% end %></td>
<td><% if m.scores[1] > m.scores[0] %><b><% end %><%= @players[m.players[3]].name %> (<%= m.elos[3].to_s + (if m.elodiffs[3] >= 0 then "+" else "" end) + m.elodiffs[3].to_s %>)<% if m.scores[1] > m.scores[0] %></b><% end %></td>
<td class="text-center"><%= m.get_duration() %></td>
<td class="text-center">
    <% m.replays.each do |r| %>
        <a href="<%= r[:url] %>">At <%= r[:time].strftime("%H:%M") %></a> 
    <% end %>
</td>
</tr>
<% end %>
</table>
</div>

</div>

